<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit | <%=poke.name%></title>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <header>
    <h1>Edit | <%=poke.name%></h1>
    <%- include('./partials/header.ejs')%>
</header>
<div class="show" id="formula2">
<form action="/pokedex/<%=(index ++)%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%= poke.name%>"/><br />
      Type: <input type="text" name="type" value="<%= poke.type%>"/> <br />
      ID: <input type="number" required name="id" value="<%=parseInt(poke.id)%>"/> <br />
       Image Link (leave URL): <input type="text" name="img" value="<%=poke.img%>" <br />
      <br /> <br /><h5>Stats(0-100) |</h5>
              HP | <br /> <br /><input value="50" type="number" min="0" max="100" name="hp">
              Attack | <br /> <br /><input value="50" type="number" min="0" max="100" name="attack">
              Defense | <br /> <br /><input value="50" type="number" min="0" max="100" name="defense">
             Speed Attack | <br /> <br /><input value="50" type="number" min="0" max="100" name="spattack">
              Speed Defense | <br /> <br /><input value="50" type="number" min="0" max="100" name="spdefense">
              Speed | <br /> <br /><input value="50" type="number" min="0" max="100" name="speed">
    <br /> <br /><h5>Damages Against (0-3) |</h5>
      Normal | <br /> <br /><input value="1" type="number" min="0" max="3" name="normal">
      Fire | <br /> <br /><input value="0" type="number" min="0" max="3" name="fire">
      Water | <br /> <br /><input value="1" type="number" min="0" max="3"name="water">
      Electric | <br /> <br /><input value="1" type="number" min="0" max="3" name="electric">
      Grass | <br /> <br /><input value="0"type="number" min="0" max="3" name="grass">
      Ice | <br /> <br /><input value="1" type="number" min="0" max="3" name="ice">
      Fight | <br /> <br /><input value="1" type="number" min="0" max="3" name="fight">
      Poison | <br /> <br /><input value="0" type="number" min="0" max="3" name="poison">
      Ground | <br /> <br /><input value="2" type="number" min="0" max="3" name="ground">
     Flying |  <br /> <br /><input value="0" type="number" min="0" max="3" name="flying">
      Psychic | <br /> <br /><input value="2" type="number" min="0" max="3" name="psychic">
      Bug | <br /> <br /><input value="2" type="number" min="0" max="3" name="bug">
      Rock |<br /> <br /><input value="3" type="number" min="0" max="3" name="rock">
     Ghost | <br /> <br /> <input value="0" type="number" min="0" max="3" name="ghost">
      Dragon | <br /> <br /><input value="1" type="number" min="0" max="3" name="dragon">
      Dark | <br /> <br /><input value="2" type="number" min="0" max="3" name="dark">
     Steel | <br /> <br /> <input value="1" type="number" min="0" max="3" name="steel">

      <button type="submit" >Submit Changes</button>
      <a href="http://pokedex.benjaminisaachines.com/pokedex"><button type="button">Nevermind | Back to Home</a></button>
    </form>
    </div>
</body>
</html>