<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
    <title>Pokedex Homepage</title>
  </head>
  <body>
    <header>
      <h1>Welcome to the Pokedex</h1>
      <%- include('./partials/header.ejs')%>
    </header>
    <div class="container">
    <% for (let i = 0; i < poke.length; i++){ %>
<div class="each">
    <a href="http://localhost:3000/pokedex/<%= i%>">
      <h3><%= parseInt(poke[i].id)%> | <%= poke[i].name%></h3>
      <img src="<%= poke[i].img%>" /></a>
      <a href="/pokedex/<%=i %>/edit"><button>Edit</a></button>
    <form action="/pokedex/<%=i; %>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE" />
        </form></div>
    <% } %>
    </div>
  </body>
</html>
