  <!DOCTYPE html>
  <html lang="en">
  <head>
      <%- include('./partials/head.ejs')%>
      <title>Show Page for <%= poke.name%> </title>
  </head>
  <body>
      <header>
          <h1><strong>View | </strong> <%= poke.name%></h1>
          <%- include('./partials/header.ejs')%>
      </header>
       <div class="show" id="show">
           <h5><%=parseInt(poke.id)%>  |  <%= poke.name%></h5>
      <h5>Type: <%= poke.type %>
        </h5>
        <a href="/pokedex/<%=(parseInt(poke.id)-1)%>/edit"><button>EDIT</button></a>
        </div>
        <div class="show" id="showTwo">
      <img src="<%= poke.img%>" /> <br />
      <div class="stats">
        <h5>Stats:</h5>
        <table>
          <tr>
              <td>
                  HP:
              </td>
              <td>
                <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.stats.hp%>
                <% } else {%>
                  <%= poke.hp%>
               <% } %>
              </td>
          </tr>
          <tr>
              <td>
                  Attack:
              </td>
              <td>
                <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.stats.attack%>
                <% } else {%>
                  <%= poke.attack%>
               <% } %>
              </td>
          </tr>
          <tr>
              <td>
                  Defense:
              </td>
              <td>
                <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.stats.defense%>
                <% } else {%>
                  <%= poke.defense%>
               <% } %>
                  
              </td>
          </tr>
          <tr>
              <td>
                  Speed Attack:
              </td>
              <td>
                <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.stats.spattack%>
                <% } else {%>
                  <%= poke.spattack%>
               <% } %>
              </td>
          </tr>
          <tr>
              <td>
                  Speed Defense:
              </td>
              <td>
                <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.stats.spdefense%>
                <% } else {%>
                  <%= poke.spdefense%>
               <% } %>
              </td>
          </tr>
          <tr>
              <td>
                  Speed:
              </td>
              <td>
                <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.stats.speed%>
                <% } else {%>
                  <%= poke.speed%>
               <% } %>
              </td>
          </tr>
        </table>
      </div>
      <div class="damages">
        <h5>Damages:</h5>
        <table>
          <tr>
            <td>Normal</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.damages.normal%>
                <% } else {%>
                  <%= poke.normal%>
               <% } %>
            </td>
          </tr>
          <tr>
            <td>Fire</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.damages.fire%>
                <% } else {%>
                  <%= poke.fire%>
               <% } %>
              </td>
          </tr>
          <tr>
            <td>Water</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.damages.water%>
                <% } else {%>
                  <%= poke.water%>
               <% } %>
              </td>
          </tr>
          <tr>
            <td>Electric</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.damages.electric%>
                <% } else {%>
                  <%= poke.electric%>
               <% } %>
              </td>
          </tr>
          <tr>
            <td>Grass</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                 <%= poke.damages.grass%>
                <% } else {%>
                  <%= poke.grass%>
               <% } %>
            </td>
          </tr>
          <tr>
            <td>Ice</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.damages.ice%>
                <% } else {%>
                  <%= poke.ice%>
               <% } %>
              </td>
          </tr>
          <tr>
            <td>Fighting</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.damages.fight%>
                <% } else {%>
                  <%= poke.fight%>
               <% } %>
              </td>
          </tr>
          <tr>
            <td>Poison</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.damages.poison%>
                <% } else {%>
                  <%= poke.poison%>
               <% } %>
              </td>
          </tr>
          <tr>
            <td>Ground</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.damages.ground%>
                <% } else {%>
                  <%= poke.ground%>
               <% } %>
              </td>
          </tr>
          <tr>
            <td>Flying</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                 <%= poke.damages.flying%>
                <% } else {%>
                  <%= poke.flying%>
               <% } %>
              </td>
          </tr>
          <tr>
            <td>Psychic</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.damages.psychic%>
                <% } else {%>
                  <%= poke.psychic%>
               <% } %>
              </td>
          </tr>
          <tr>
            <td>Bug</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                 <%= poke.damages.bug%>
                <% } else {%>
                 <%= poke.bug%>
               <% } %>
              </td>
          </tr>
          <tr>
            <td>Rock</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                 <%= poke.damages.rock%>
                <% } else {%>
                  <%= poke.rock%>
               <% } %>
              </td>
          </tr>
          <tr>
            <td>Ghost</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.damages.ghost%>
                <% } else {%>
                  <%= poke.ghost%>
               <% } %>
              </td>
          </tr>
          <tr>
            <td>Dragon</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.damages.dragon%>
                <% } else {%>
                  <%= poke.dragon%>
               <% } %>
              </td>
          </tr>
          <tr>
            <td>Dark</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.damages.dark%>
                <% } else {%>
                  <%= poke.dark%>
               <% } %>
              </td>
          </tr>
          <tr>
            <td>Steel</td>
            <td>
              <% if(parseInt(poke.id) <= 151) { %>
                  <%= poke.damages.steel%>
                <% } else {%>
                  <%= poke.steel%>
               <% } %></td>
          </tr>
        </table>
       </div>
      </div>
      </body>
  </html>