  <!DOCTYPE html>
  <html lang="en">
  <head>
      <%- include('./partials/head.ejs')%>
      <title>Show Page for <%= poke.name%> </title>
  </head>
  <body>
      <header>
          <h1><%=parseInt(poke.id)%>  |  <%= poke.name%></h1>
          <%- include('./partials/header.ejs')%>
      </header>
       <div class="show" id="show">
           <h5><%=parseInt(poke.id)%>  |  <%= poke.name%></h5>
      <h5>Type: <%= poke.type %>
        </h5>
        </div>
        <div class="show" id="showTwo">
      <img src="<%= poke.img%>" />
      <div class="stats">
        <h5>Stats:</h5>
        <table>
          <tr>
              <td>
                  HP:
              </td>
              <td>
                  <%= poke.stats.hp%>
              </td>
          </tr>
          <tr>
              <td>
                  Attack:
              </td>
              <td>
                  <%= poke.stats.attack%>
              </td>
          </tr>
          <tr>
              <td>
                  Defense:
              </td>
              <td>
                  <%= poke.stats.defense%>
              </td>
          </tr>
          <tr>
              <td>
                  Speed Attack:
              </td>
              <td>
                  <%= poke.stats.spattack%>
              </td>
          </tr>
          <tr>
              <td>
                  Speed Defense:
              </td>
              <td>
                  <%= poke.stats.spdefense%>
              </td>
          </tr>
          <tr>
              <td>
                  Speed:
              </td>
              <td>
                  <%= poke.stats.speed%>
              </td>
          </tr>
        </table>
      </div>
      <div class="damages">
        <h5>Damages:</h5>
        <table>
          <tr>
            <td>Normal</td>
            <td>
            <%= poke.damages.normal%>
            </td>
          </tr>
          <tr>
            <td>Fire</td>
            <td><%= poke.damages.fire%></td>
          </tr>
          <tr>
            <td>Water</td>
            <td><%= poke.damages.water%></td>
          </tr>
          <tr>
            <td>Electric</td>
            <td><%= poke.damages.electric%></td>
          </tr>
          <tr>
            <td>Grass</td>
            <td><%= poke.damages.grass%></td>
          </tr>
          <tr>
            <td>Ice</td>
            <td><%= poke.damages.ice%></td>
          </tr>
          <tr>
            <td>Fighting</td>
            <td><%= poke.damages.fight%></td>
          </tr>
          <tr>
            <td>Poison</td>
            <td><%= poke.damages.poison%></td>
          </tr>
          <tr>
            <td>Ground</td>
            <td><%= poke.damages.ground%></td>
          </tr>
          <tr>
            <td>Flying</td>
            <td><%= poke.damages.flying%></td>
          </tr>
          <tr>
            <td>Psychic</td>
            <td><%= poke.damages.psychic%></td>
          </tr>
          <tr>
            <td>Bug</td>
            <td><%= poke.damages.bug%></td>
          </tr>
          <tr>
            <td>Rock</td>
            <td><%= poke.damages.rock%></td>
          </tr>
          <tr>
            <td>Ghost</td>
            <td><%= poke.damages.ghost%></td>
          </tr>
          <tr>
            <td>Dragon</td>
            <td><%= poke.damages.dragon%></td>
          </tr>
          <tr>
            <td>Dark</td>
            <td><%= poke.damages.dark%></td>
          </tr>
          <tr>
            <td>Steel</td>
            <td><%= poke.damages.steel%></td>
          </tr>
        </table>
       </div>
      </div>
      </body>
  </html>